/* === IMPORTAÇÃO DE FONTES */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/*
Fontes Disponíveis:
// Sugiro usar esta 
font-family: "Urbanist", sans-serif; 
font-family: "Fredoka", sans-serif;
font-family: "Epilogue", sans-serif;
font-family: "Nunito", sans-serif;
font-family: "Oswald", sans-serif;
*/
/* ==========================*/

/* ==== FORMATAÇÃO GERAL === */
html{
    font-size: clamp(1rem, 2vw + 0.8rem, 3rem);
    font-family: sans-serif; 
}

header{
    text-align: center;
}
header nav ul li{
    padding: 1.5vw; 
}
section.banner div{
    background-color: rgb(230, 224, 224) ;
    border-radius: 20px;
    margin: 20px 10px 20px 10px;
    display: block;
}
section.banner div h1{
    color: rgb(53, 51, 51);
    font-weight: 500;
    margin: 20px;
}
section.banner div h1 span{
    color: #EF3F6E;
}
section.banner div p{
    color: rgb(105, 93, 93);
    font-size: medium;
    margin: 20px;
}
section.banner div a{
    background-color:#EF3F6E;
    border-radius: 5px;
    margin: 20px;
}
section.banner div a span{
    color: white;
    font-size: medium;
    padding: 10px 5px 10px 5px;
}
section.banner div img{
    margin: 20px 20px;
}
section.Projetos div{
    text-align: center;
}
section.Projetos h2{
    color: rgb(53, 51, 51);
}
section.Projetos p{
    color: rgb(52, 64, 75);
}
section.Projetos p span{
    color: rgb(168, 158, 158);
    font-size: medium;
}
section.Chamada div{
    background-color: #F9DBF7 ;
    border-radius: 20px;
    margin: 20px 10px 20px 10px;
    display: block;
}
section.Chamada div h3{
    color: #F857A6;
    font-size: medium;
    font-weight: 500;
    margin: 20px;
}
section.Chamada div p{
    margin: 20px;
}
section.Chamada div p span{
    color: #EF3F6E;
}
section.Chamada div a{
    background-color:#F857A6;
    border-radius: 5px;
    margin: 2vw 3vw 2vw 3vw;
}
footer{
    text-align: center;
}





/* MEDIA QUERY - DESKTOP */
@media  screen and (min-width: 600px) {

}